{% extends 'mysite/base.html' %}

{% block title %}
REGISTER
{% endblock %}

{% block content %}
<div class="container">

    <br>

    <div class="form-group">
        <form action="" method="post" class="m-auto"
            style="display: flex; justify-content: center; flex-direction: column; width: fit-content;">
            {% csrf_token %}
            {{ form }}
            <br>
            <button class="btn btn-info"> REGISTER </button>
            <div class="m-auto p-10">
                Already have an account?
                <a href="{% url 'login' %}" class="m-10">Login</a>
            </div>
        </form>
    </div>

</div>

{% endblock %}