{% extends 'mysite/base.html' %}

{% block title %}
MEOW NOTES
{% endblock %}

{% block content %}

{%block head%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
{%endblock%}
{% if user.is_authenticated %}

<br>
<br>

<form id="search" class="d-flex flex-row shadow-lg p-1 bg-white rounded" style="display: none;">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="border: none;">
  <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
</form>

<br>
<br>
<a href="{% url 'add-post' %}" class="text-decoration-none">Add Notes</a>
<br>
<br>
<ul style="margin: 0px; padding: 0px">
  {% for post in object_list %}
  <div class="d-flex justify-content-center card m-auto">
    <div class="card-header shadow alert alert-info">
      <a href="{% url 'article-detail' post.pk %}" style="text-decoration:none; ">
        {{post.title}}</a> -
      {{post.author.first_name }} {{ post.author.last_name }}
    </div>
    <div class="card-body shadow">
      Category : <a href="{% url 'category-view' post.category|slugify %}"
        style="text-decoration:none;">{{post.category}}</a>
      <br>
      <small>{{ post.post_date }}</small>
      <br>
      {% if user.is_authenticated %}
      {% if user.id == post.author.id %}
      <a href="{% url 'edit-post' post.pk %}" class="text-decoration-none"><small>(Edit)</small></a>
      <a href="{% url 'delete-post' post.pk %}" class="text-decoration-none"><small>(Delete)</small></a>
      {%endif%}
      {% endif %}
    </div>
  </div>
  {% comment %} {{ post.body|slice:":50" }}... {% endcomment %}
  <!-- {{ post.body|safe }}... -->
  <!-- {{ post.body }} -->

  <br>
  <hr>
  <br>
  {% endfor %}
</ul>

{% else %}
{% comment %} This is the part when the user is not authenticated in the home-page {% endcomment %}
<!-- html part -->

<!-- end the -->
<section class="container">
  <div class="hero">
    <div class="row">
      <div class="content">
        <div class="d-flex flex-column justify-content-center m-auto">

          <h1 class="d-flex font-weight-bold m-auto p-2" style="text-align: center;">
            Tame your work, organize your life
          </h1>
          <div class="py-3" style="font-size: 25px; text-align: center;">Remember everything and
            tackle any project with your
            notes, tasks, and schedule all
            in one place.
          </div>




          <button type="button" class="btn btn-info my-3" style="margin: auto;">
            <a href="{% url 'register' %}" class="text-decoration-none text-black">
              Sign up for free
            </a>
          </button>
          <a href="{% url 'login' %}" class="text-black m-auto">
            Already have an account? Log in
          </a>
        </div>

        <div class="d-flex flex-column my-5">

          <img src="https://evernote.com/c/assets/homepage-repackaging/task_hero_image@2x__en.png?2e28f0ff68efad3c"
            class="d-block w-100" alt="...">

          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <p class="d-flex justify-content-center w-100 font-weight-bold">WORK ANYWHERE</p>
                <p class="d-flex justify-content-center w-100" style="text-align: center;">Keep important info
                  handy—your notes sync automatically to all your devices.</p>
              </div>
              <div class="carousel-item">
                <p class="d-flex justify-content-center w-100 font-weight-bold">REMEMBER EVERYTHING</p>
                <p class="d-flex justify-content-center w-100" style="text-align: center;">Make notes more useful by
                  adding text, images, audio, scans, PDFs, and documents.</p>
              </div>
              <div class="carousel-item">
                <p class="d-flex justify-content-center w-100 font-weight-bold">TURN TO-DO INTO DONE</p>
                <p class="d-flex justify-content-center w-100" style="text-align: center;">Bring your notes, tasks, and
                  schedules together to get things done more easily.</p>
              </div>
              <div class="carousel-item">
                <p class="d-flex justify-content-center w-100 font-weight-bold">FIND THINGS FAST</p>
                <p class="d-flex justify-content-center w-100" style="text-align: center;">Get what you need, when you
                  need it with powerful, flexible search capabilities.</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
</div>
</div>
</section>
<section>
  <nav class="navbar navbar-expand-lg navbar-light  alert alert-info" role="alert" style="position: relative; bottom: 0; margin: 0;">
    
      <a class="navbar-brand d-flex" href="/">
        <img src="https://png.pngtree.com/png-vector/20230120/ourmid/pngtree-veterinary-design-vet-clipart-puppy-cute-cat-logo-png-image_6565444.png" alt="" width="70px">
        <p style="font-size: 25px; margin-top: auto;">Meow Notes</p>
      </a>
      <p style="font-size: auto; margin: auto;">© 2023 Copyright Anubhav</p>
      
      <div id="google_translate_element" style="margin: auto;"></div>
   
    
  </nav>
</section>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  }
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<script>
  var TxtRotate = function (el, toRotate, period) {
    this.toRotate = toRotate;
    this.el = el;
    this.loopNum = 0;
    this.period = parseInt(period, 10) || 2000;
    this.txt = '';
    this.tick();
    this.isDeleting = false;
  };

  TxtRotate.prototype.tick = function () {
    var i = this.loopNum % this.toRotate.length;
    var fullTxt = this.toRotate[i];

    if (this.isDeleting) {
      this.txt = fullTxt.substring(0, this.txt.length - 1);
    } else {
      this.txt = fullTxt.substring(0, this.txt.length + 1);
    }

    this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

    var that = this;
    var delta = 300 - Math.random() * 100;

    if (this.isDeleting) { delta /= 2; }

    if (!this.isDeleting && this.txt === fullTxt) {
      delta = this.period;
      this.isDeleting = true;
    } else if (this.isDeleting && this.txt === '') {
      this.isDeleting = false;
      this.loopNum++;
      delta = 500;
    }

    setTimeout(function () {
      that.tick();
    }, delta);
  };

  window.onload = function () {
    var elements = document.getElementsByClassName('txt-rotate');
    for (var i = 0; i < elements.length; i++) {
      var toRotate = elements[i].getAttribute('data-rotate');
      var period = elements[i].getAttribute('data-period');
      if (toRotate) {
        new TxtRotate(elements[i], JSON.parse(toRotate), period);
      }
    }
    // INJECT CSS
    var css = document.createElement("style");
    css.type = "text/css";
    css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
    document.body.appendChild(css);
  };
</script>
<script src="../../app.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

{% endif %}



{% endblock %}